<div id="{{id}}" class="container">
	<h2>{{name}}</h2>
	<img src="{{imgURL}}" />
	<h4>Ingredients</h4>
	<ul>
		{{#each ingredients}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	<h3>Instructions</h3>
	<p>{{instructions}}</p>
</div>