<section class="profile">
	<h2>My Profile</h2>
	<div>
		<h3>Name</h3>
		<p>{{firstName}} {{lastName}}</p>
		<h3>Username</h3>
		<p>{{username}}</p>
		<a href="/create"><button>NEW RECIPE</button></a>
	</div>
</section>

<h2 style="text-align: center;">My Recipes</h2>
<div class="container">
	{{#each recipes}}
		<div id="{{id}}" class="recipes">
			<h2>{{name}}</h2>
			<img src="{{imageURL}}" />
			<a href="#/delete/{{id}}"><button>DELETE</button></a>
		</div>
	{{else}}
		<div class="container">
			<h4 style="width:100%">No recipes to show...</h4>
			<img style="width:250px" src="../images/404.jpg" />
		</div>
	{{/each}}
</div>